body{
    background-color: #333;
    color: #FFF;
}

div{
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}


#tetris {
    display: block;
    margin: 0 auto;
}

#score, #speed{
    display: inline-block;
    margin-left: 3.2em;
}


p{color: red;}
